@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1494px;
    --border-radius-content: 12px;
    --border-radius-button: 4px;

    --font: 'Poppins', sans-serif;

    --color-primary: #141414;
    --color-text: #E1E3E6;
    --color-text-secondary: #B0B1B6;
    --color-accent: #0047BB;
    --color-success: #2E7D32;
    --color-error: #D32F2F;

    --transition-duration: 0.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;

    max-width: var(--max-width);
    margin-inline: auto;

    color: var(--color-text);
    background-color: var(--color-primary);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a {
    text-decoration: none;

    color: inherit;
}